<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title frontend webpack scaffold example
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    h1 frontend webpack scaffold example.

    img(src=require("./../images/sample.jpg"), width="500")
